@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

nav {
  display: flex;
  justify-content: space-evenly;
  background-color: #000;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  color: #cd696e;
}

nav .container {
  max-width: 1200px;
  padding: 25px 0px;
}

#logo{
    font-size: 20px;
}
