@tailwind base;
@tailwind components;
@tailwind utilities;  


*{
  font-family: "Poppins", sans-serif;
}

body {
    background: #1c1c1c;
    color: rgb(255, 255, 255);
  }

input{
  stroke: none;
  outline: none;
}
  
input, textarea {
    color: rgb(0, 0, 0);
}