@tailwind base;
@tailwind components;
@tailwind utilities;  


*{
  font-family: "Poppins", sans-serif;
  margin: 0px;
}

*::selection{
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

body {
    background: #0f0f0f;
    color: rgb(255, 255, 255);
}

input{
  stroke: none;
  outline: none;
}
  
input, textarea {
    color: rgb(0, 0, 0);
}

#MainText{
  font-weight: 900;
  letter-spacing: -6px;
  line-height: 60px;
}
