.side-cut {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 48px), calc(100% - 48px) 100%, 0 100%);
}

.box-shadow {
    box-shadow: 0px 0px 100px rgb(41, 130, 255);
}

.outer-box-shadow {
    box-shadow: 0px 0px 10px rgb(44, 44, 44);
}